<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Scholars Shop</title>
</head>

<body>
    <header>
        <section class="banner">
            <div class="banner-content">
                <div class="menu-icon" onclick="toggleMenu()">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" width="400px" alt="Scholars Shop Logo">
                </div>
                <div class="topnav">
                    <input type="text" placeholder="Search...">
                </div>
                <h1>SCHOLARS SHOP</h1>
                <a href="#register" class="button">Register</a>
                <a href="#signin" class="button">Sign In</a>
                <div id="bottom">
                    <p>Connecting students with sellers for a seamless trading experience...</p>
                </div>
            </div>
        </section>
    </header>
</body>

</html>