<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Login</title>
</head>
<body class="z">

    <!-- Container for login form -->
    <div class="container">

        <!-- Page title -->
        <h1>Welcome to Scholars shop</h1>

        <!-- Description of login process -->
        <p>Kindly provide the details below to login.</p>

        <!-- Login form -->
        <form action="/login" method="post">
            <!-- Username input field -->
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Username">
            <!-- Password input field -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password">
            <!-- Sign In button -->
            <button type="submit">Sign In</button>
        </form>

        <!-- Display error message if any -->
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

        <p style="margin-top: 20px;">Do not have an account? <a href="/register" style="color: var(--primary);">Register here</a></p>
        <p><a href="/" style="color: var(--primary);">Back to Home</a></p>
    </div>
</body>
</html>
