<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- for favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="sampleImage.jpg"> -->

    <script
      src="https://kit.fontawesome.com/ddebf545f0.js"
      crossorigin="anonymous"
    ></script>
    <title>Scholars Shop Food</title>
  </head>
  <body>
    <div class="body">
      <div class="navBar">
        <a href="/account.html"><i class="fa-regular fa-user"></i>Account</a>
        <a href="cart.html"><i class="fa-regular fa-cart-shopping"></i>Cart</a>
        <a href="inbox.html"><i class="fa-regular fa-envelope"></i>Inbox</a>
      </div>
      <div class="sideBar">
        <div class="nav-container">
          <div class="header-container">
            <h2>Categories</h2>
          </div>
          <a href="/food.html" class="nav-item firstcontent">
            <i class="fa-solid fa-utensils"></i> Food
          </a>
          <a href="/fashion.html" class="nav-item">
            <i class="fa-solid fa-shirt"></i> Fashion
          </a>
          <a href="/computing.html" class="nav-item">
            <i class="fa-solid fa-computer"></i> Computing
          </a>
          <a href="/phones.html" class="nav-item">
            <i class="fa-solid fa-mobile-screen-button"></i> Phones
          </a>
          <a href="/electronics.html" class="nav-item">
            <i class="fa-solid fa-plug"></i> Electronics
          </a>
          <a href="/sporting.html" class="nav-item">
            <i class="fa-solid fa-dumbbell"></i> Sporting
          </a>
          <div
            class="nav-item dropdownBtn"
            id="dropdownBtn"
            onclick="dropDown()"
          >
          <i class="fa-solid fa-users"></i>Services
            <i class="fa fa-caret-down" id="dropdownFontAwesome"></i>
          </div>
          <div class="dropDownContainer closeGap">
            <a class="nav-item" href="/service1.html">Service 1</a>
            <a class="nav-item" href="/service2.html">Service 2</a>
            <a class="nav-item" href="/service3.html">Service 3</a>
            <a class="nav-item" href="/service4.html">Service 4</a>
          </div>
          <a href="/appliances.html" class="nav-item">
            <i class="fa-solid fa-blender-phone"></i> Appliances
          </a>
          <a href="/gaming.html" class="nav-item">
            <i class="fa-solid fa-gamepad"></i> Gaming
          </a>
          <a href="/others.html" class="nav-item">
            <i class="fa-solid fa-ellipsis"></i> Others
          </a>
        </div>
      </div>
      <div class="mainBody">
        <p>placeholder</p>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
